.main__property {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 27vh 20px;
  border-radius: 50px 50px;
  background-color: #372828;
}

.property__top__info {
  display: flex;
  width: 95vw;
  height: 70vh;
  justify-content: space-evenly;
}

.property__top__image {
  border-radius: 30px;
  overflow: hidden;
 
}
.property__top__description {
  margin-top: 10vh;
}
.property__top__p {
  width: 40vw;
  font-weight: 400;
  font-size: 1.7vw;
  margin-bottom: 20px;
  color: aliceblue;
}

.property__top__button {
  width: 18vw;
  margin-top: 20vh;
  color: white;
  border-radius: 50px;
  height: 10vh;
  border: 1px solid #857676;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.property__top__button h4 {
  font-size: 13px;
  width: 40%;
  height: 43%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.property__top__button h4:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 1s ease-in-out;
}

.property__top__button:hover h4:before {
  width: 100%;
}
.arrow {
  margin-left: 10px;
}
.property__top__button:hover .arrow {
  scale: 1.2;
  transition: 0.5s ease-in-out;
}

.property__bottom__info {
  display: flex;
  width: 95vw;
  height: 70vh;
  justify-content: space-evenly;
}

.property__bottom__img {
  border-radius: 30px;
  overflow: hidden;
}

.property__bottom__description {
  margin-top: 10vh;
}

.property__bottom__p {
  width: 40vw;
  font-weight: 400;
  font-size: 1.7vw;
  margin-bottom: 20px;
  color: aliceblue;
}

.property__bottom__button {
  width: 18vw;
  margin-top: 20vh;
  color: white;
  border-radius: 50px;
  height: 10vh;
  border: 1px solid #857676;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.property__bottom__button h4 {
  font-size: 13px;
  width: 40%;
  height: 43%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.property__bottom__button h4:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 1s ease-in-out;
}
.property__bottom__button:hover h4:before {
  width: 100%;
}
.arrow {
  margin-left: 10px;
}
.property__bottom__button:hover .arrow {
  scale: 1.2;
  transition: 0.5s ease-in-out;
}

.property__heading {
  height: 80vh;
  width: 100%;
  color: white;
  margin-top: 20vh;
}
.property__heading h1 {
  line-height: 80%;
}

.property__heading__first__h1 {
  font-size: 10vw;
}

.property__heading__second__h1 {
  font-size: 30vw;
  display: flex;
  padding-left: 9vw;
  color: #857676;
}

.property__heading__second__h1 span {
  margin-left: 8vw;
}

.heading__p {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  color: aliceblue;
}
.property__heading p {
  font-size: 1.5vw;
  width: 40%;
}
