.main__about {
  min-height: 100vh;
  width: 100%;
  background-color: #e2dedb;
  border-radius: 50px 50px;
  color: #1c1b1d;
}

.about__description {
  display: flex;
}
.about__left {
  height: 130vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about__left__heading {
  height: 20vh;
  width: 70%;
  display: flex;
  align-items: center;
}

.about__left__heading h1 {
  font-size: 12vh;
}
.about__left__features {
  width: 70%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.feature__headings {
  font-weight: bolder;
  font-size: 3vw;
}
.feature__headings:hover {
  scale: 1.02;
  transition: 0.5s linear;
}
.feature__para {
  margin-top: 15px;
  font-size: 1.2vw;
  margin-bottom: 30px;
}
.about__right {
  height: 110vh;
  width: 50%;
  position: relative ; 
  
}
.stats__button {
  width: 18vw;
  border-radius: 50px;
  height: 10vh;
  border: 1px solid #857676;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
}

.stats__button h4 {
  font-size: 18px;
  width: 55%;
  height: 43%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats__button h4:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #372828;
  transition: width 1s ease-in-out;
}

.stats__button:hover h4:before {
  width: 100%;
}

.main__stats{
  width: 100%;
height: 54.5%;
position: absolute;
bottom: 0%;
left: 0%;
overflow: hidden;
}
.stats__section {
  height: 40vh;
  width: 40vw;
  background-color: #1c1b1d; 
  border-radius: 20px;
  display: grid;
  grid-template-columns: 20vw 20vw;
  color: #e2dedb;
  position: absolute;
  bottom: 20vh;
 right: 50%;
 transform: translate(50% );
}

.stats__section__children {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stats__section__children h1 {
  font-size: 5vw;
}

.stats__section__children h2 {
  font-size: 1.2vw;
}

.about__image {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
