.main__home{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.headings__home{
    text-transform: uppercase;
}

.button{
    width: 13vw;
    background-color: #857676;
    color: white;
    height: 6.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button h4{
    font-size: 13px;
}

